body {
  font-family: Helvetica;
  text-align: center;
}

/* HEADER */

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#header {
  background-image: url("../images/the-flatiron-building.png");
}

#header li {
  list-style-type: none;
  padding: 5px;
  font-size: 18px;
}

#header a {
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}






/* FOOTER */
#footer {
  background-color: dimgrey;
  font-size: 11px;
  text-align: left;
  color: white;
}

#footer a {
  color: white;
}
